<div class="container">
    <div class="row">
        <div class="col">
            <ul class="list-group">
                <div class="row" *ngFor="let cItem of cartItems">
                    <div class="col-3">
                        {{cItem.pName}}
                    </div>
                    <div class="col-3">
                        {{cItem.pDesc}}
                    </div>
                    <div class="col-3">
                        {{cItem.qty}}
                    </div>
                    <div class="col-3">
                        <button type="button" (click)="removeItem(cItem)" class="btn btn-danger"> Remove</button>
                    </div>
                </div>
            </ul>
            <button type="button" (click)="emptyCart()" class="btn btn-danger"> Remove All</button>
        </div>
    </div>
</div>